h1{
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: coral;
}

body{
  background-image:url("https://wallpapercave.com/wp/wp9097922.jpg");
  text-align: center;
}

p{
  color: blanchedalmond;
}
img{
  width: 200px;
  height: 200px;
  margin: 50px;
}


.box {
  position:relative;
  width:200px;
  display: inline;
}
.box-text {
  font-size: 20px;
  position: absolute;
  bottom: 700%;
  left: 50%;
}