h1{
  text-align: center;
  font-family: "Roboto Light";
}

body{
  background-image:url("https://wallpapercave.com/wp/wp9097922.jpg");
  text-align: center;
}

img{
  display: inline-block;
  width: 200px;
}

.container{

}


.duke{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
}
.more{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
}

.filipe{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
}

.robert{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
}